@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Knewave&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  height: 100%;
  background-color: #ffffff;
  opacity: 1;
  background-image: linear-gradient(#bbe0ff 0.9px, transparent 0.9px), linear-gradient(to right, #bbe0ff 0.9px, #ffffff 0.9px);
  background-size: 18px 18px;
  display: grid;
  justify-items: center;
  font-size: 14pt;
  font-family: "Indie Flower", cursive;
}

body {
  padding: 24px 16px;
  width: 100%;
  max-width: 1200px;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
}

dialog {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.hide {
  display: none;
}

.wrapper {
  display: grid;
  width: 100%;
  justify-content: center;
  justify-items: center;
  height: -moz-min-content;
  height: min-content;
}

.navigation, footer {
  padding: 16px;
  background-image: url("../images/paper1.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  filter: drop-shadow(0px 0px 11.7px rgba(0, 0, 0, 0.25));
}
.navigation p, footer p {
  font-size: 1.2rem;
  font-weight: bold;
}

.canvas {
  min-height: 200px;
  display: grid;
  gap: 8px;
  justify-content: center;
  align-content: center;
  margin: 24px 0px;
}

.showkeyboard {
  padding: 16px;
  font-family: "Knewave", system-ui;
  border: 1pt solid rgb(33, 33, 41);
  border-radius: 8pt;
  display: grid;
  gap: 0px;
  max-width: 600px;
  justify-content: center;
  margin-bottom: 24px;
  height: -moz-fit-content;
  height: fit-content;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button-container {
  display: grid;
  font-family: "Knewave", system-ui;
  border: none;
  background-image: url("../images/paper-letter.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 8px;
  filter: drop-shadow(0px 0px 1.5px rgba(0, 0, 0, 0.25));
  height: -moz-fit-content;
  height: fit-content;
}

.enabled:hover {
  background-image: url("../images/paper-letter-hovered.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 8px;
}

.selected {
  background-image: url("../images/Circled.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#hangman, #text {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

#hangmanimage {
  max-height: 200px;
  width: auto;
}

.letter, .wordletter {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 16px;
  margin: 0px 8px;
  color: rgb(33, 33, 41);
  height: 60px;
  width: 40px;
}

.wordletter {
  border-bottom: 2pt solid rgb(33, 33, 41);
}

.text_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.unguessed {
  display: none;
}

.modal-content {
  background-color: #fefefe;
  display: grid;
  border-radius: 8pt;
  gap: 16px;
  margin: 15% auto;
  padding: 32px;
  border: 1px solid #888;
  width: -moz-fit-content;
  width: fit-content;
}

.try-again {
  display: grid;
  padding: 8px;
  border: 1pt solid rgb(33, 33, 41);
  border-radius: 4pt;
}

.try-again:hover {
  background-color: rgb(223, 236, 255);
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#start-game {
  background-color: white;
  border-radius: 4pt;
  padding: 8px;
  border: 1pt solid rgb(33, 33, 41);
  font-size: 1.3rem;
  grid-column: 1/span 2;
}

#start-game:hover {
  background-color: #bbe0ff;
}

#text {
  display: grid;
  gap: 16px;
}/*# sourceMappingURL=styles.css.map */